.img-thumbnail {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.bg-image {
    background-image: url('images/face.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bg-images {
    background-image: url('images/logo.png');
    max-width : 30%;
    height:min-content;
}

.images {
    background-image: url('images/saké.jpg');
    background-size: cover;
    background-position:bottom;
    height: auto;
}

#page1 {
    max-width: 100%;
    height:auto;
}

.restaurantbg {
    background-image: url('images/fuji.jpg');
    background-position: center;
    background-size: cover;
}

.bg-imageu {
    background-image: url('images/street.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.fond-gal {
    background-image: url('images/fondgal.jpg') ;
    background-attachment: fixed;
    background-size: cover;
}

.custom-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffc107;
    padding: 10px 0;
  }

  footer .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  footer .col {
    padding: 0 18px;
  }

  footer img {
    max-width: 30px;
    height: auto;
  }