.img-thumbnail {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.bg-image {
    background-image: url('images/neon.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#page1 {
    max-width: 100%;
    height:auto;
}