.img-thumbnail {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.bg-image {
    background-image: url('images/face.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bg-images {
    background-image: url('images/logo.png');
    max-width : 30%;
    height:min-content;
}

.images {
    background-image: url('images/saké.jpg');
    background-size: cover;
    background-position:bottom;
    height: auto;
}

#page1 {
    max-width: 100%;
    height:auto;
}

.restaurantbg {
    background-image: url('images/geisha-rue-la-nuit.jpg');
    background-position: center;
    background-size: cover;
}